
<!DOCTYPE html>
<!-- used https://getbootstrap.com/docs/4.1/content/tables/-->
<html lang="en">
  <head>
    <title>Voter App</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  </head>
  
  <body class="bg-primary">
    <div class="icon-bar">
      <h1 style="color: white; font-family Montserrat; text-align: center">VoterPro</h1>
      <a class="active" href="/"><i class="fa fa-home fa-large"></i></a> 
      <a href="search.html"><i class="fa fa-search"></i></a> 
      <a href="graphs.html"><i class="fa fa-area-chart"></i></a> 
      <a href="users.html"><i class="fa fa-user-circle"></i></a>
      <a href="about.html"><i class="fa fa-address-card"></i></a> 
    </div>
    <center><canvas id="dataChart" width="400" height="400" ></canvas></center>

    <!-- import the webpage's client-side javascript file -->

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
  </body>
  
  <footer style="color: white"><br/><br/>
  <h4 style="position: fixed; bottom: 5px; right: 5px; font-size: 10px;">
    Made by <a href="https://github.com/novuw" style="color: white">@Novuw</a>
    </h4>
  </footer>
  <script>
    var ur = decodeURIComponent(decodeURIComponent(window.location.search));
    var splitUR = ur.split('vote=');
    console.log(splitUR[1]);
    var nums = splitUR[1].split('/');
    //chart below
    var ctx = document.getElementById('dataChart').getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'pie',

    // The data for our dataset
    data: {
        labels: ["Side One", "Side Two"],
        datasets: [{
            label: "Selected Database",
            backgroundColor: '#ffffff',
            borderColor: '#000000',
            data: [parseInt(nums[0]), parseInt(nums[1])],
        }]
    },

    // Configuration options go here
    options: { responsive: false, 
              color: ['red','blue']}
});
  </script>
</html>
