<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <script>
  function mySuccess(json){
    console.log(JSON.stringify(json));
  }
  $.ajax({
            url: 'https://api.mlab.com/api/1/databases/voterpro/collections/surveys?apiKey=XwubhE1vzrlUofAGyt_OzccWmOuUFQPl' /*+process.env.mongoAPIKEY*/,
            type: "GET",
            dataType: 'json',
            success: mySuccess,
            error: function(jsonp){
                alert('error!' + JSON.stringify(json));
            }
        });
  </script>
  <body class="bg-primary">
    <div class="icon-bar">
      <h1 style="color: white; font-family Montserrat; text-align: center">VoterPro</h1>
      <a href="/"><i class="fa fa-home"></i></a> 
      <a href="search.html" class="active"><i class="fa fa-search"></i></a> 
      <a href="graphs.html"><i class="fa fa-area-chart"></i></a> 
      <a href="users.html"><i class="fa fa-user-circle"></i></a>
      <a href="about.html"><i class="fa fa-address-card"></i></a> 
    </div>
    <br />
    <h1 style="color: white; text-decoration: underline; text-align: center" class="container">
      <strong>Poll Search</strong><br/>
    </h1>
    <p style="text-align: center; color: white;">      Lookup previously created votes.    </p>
    <br/>
    <center>
    <div class="container-fluid">
       <form>
        <input id="searchQuery" name="searchBox" placeholder="Search" autocomplete="off">
       </form>
    </div>
  </center>
    <!-- import the webpage's client-side javascript file -->
  <script src="/client.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
  </body><!-- 
  <footer style="color: white">
  <h4 style="position: absolute; bottom: 5px; right: 5px; font-size: 20px;">
    Made by @Novuw
    </h4>
  </footer>-->
</html>
