<!DOCTYPE html>
<!-- used https://getbootstrap.com/docs/4.1/content/tables/-->
<html lang="en">
  <head>
    <title>Voter App</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <style>
    h2{
      font-size: 40px;
      font-family: Verdana;
    }
  </style>
  <script>
    var formName;
    var oOne;
    var oTwo;
    var desc;
    var USERNAME;
    var oOnev;
    var oTwov;
  function mySuccess(json){
    console.log(JSON.stringify(json));
    if (json.length != 0){
        for (var i = 0; i < json.length; i++){
          //add formatting for each cell from surveys from wikipedia git
           formName = json[i].name;
           oOne = json[i].oOne.title;
           oOnev = json[i].oOne.votes.toString();
           oTwo = json[i].oTwo.title;
           oTwov = json[i].oTwo.votes.toString();
           desc = json[i].desc;
           USERNAME = json[i].user;
            $('#informationFile').append('<div class="well"><h4 class="infoTitle"> '+formName+'</h4></br><h2 class="infoBody"><strong>Side One: '+oOne+'</strong></h2></br><h4 class="infoBody">Votes: '+oOnev+'</h4></br><h2 class="infoBody"><strong>Side Two: '+oTwo+'</strong></h2></br><h4 class="infoBody">Votes: '+oTwov+'</h4></br><h4 class="infoBody">Made By: '+USERNAME+'</h4></br></div><br/>');

        }        
    }else{
        $("#nores").css("display", "block");
      }
  }
    
    
    var search = '{"name":"' + window.location.search.substring(11) + '"}';
    console.log(search);
        $.ajax({
            url: 'https://api.mlab.com/api/1/databases/voterpro/collections/surveys?q=' + search + '&apiKey=XwubhE1vzrlUofAGyt_OzccWmOuUFQPl', /*+process.env.mongoAPIKEY*/
            type: "GET",
            dataType: 'json',
            success: mySuccess,
            error: function(err){
              alert(err);
            }
          });

  </script>
  <body class="bg-primary">
    <div class="icon-bar">
      <h1 style="color: white; font-family Montserrat; text-align: center">VoterPro</h1>
      <a class="active" href="/"><i class="fa fa-home fa-large"></i></a> 
      <a href="search.html"><i class="fa fa-search"></i></a> 
      <a href="graphs.html"><i class="fa fa-area-chart"></i></a> 
      <a href="users.html"><i class="fa fa-user-circle"></i></a>
      <a href="about.html"><i class="fa fa-address-card"></i></a> 
    </div>
    <div class="container-fluid">
      <div class="container-fluid">
        <div>
          <h1 class="text-light" style="text-decoration: underline; text-align: center; font-size: 60px;"><br/>
           Search Results<br/><br/></h1><br/>
        </div>
          <h2 class="text-light" id="nores" style="text-align: center; font-size: 50px; display: none">No results found. Make sure to search the exact title!</h2>
      </div>
    </div>
    <center>
    <div id="informationFile" class="info">

    </div>
      </center>
    <!-- import the webpage's client-side javascript file -->

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
  </body>
  
  <footer style="color: white"><br/><br/>
  <h4 style="position: fixed; bottom: 5px; right: 5px; font-size: 10px;">
    Made by <a href="https://github.com/novuw" style="color: white">@Novuw</a>
    </h4>
  </footer>
</html>
