<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="9928521150-rrkohp362s91uh6gm77m2nnvmnhcudo5.apps.googleusercontent.com">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script><!-- Google sign in-->
    <script src="/client.js"></script>
  </head>
  
  <body class="bg-primary">
    <div class="icon-bar">
      <h1 style="color: white; font-family Montserrat; text-align: center">VoterPro</h1>
      <a href="/"><i class="fa fa-home"></i></a> 
      <a href="search.html"><i class="fa fa-search"></i></a> 
      <a href="graphs.html"><i class="fa fa-area-chart"></i></a> 
      <a href="users.html" class="active"><i class="fa fa-user-circle"></i></a>
      <a href="about.html"><i class="fa fa-address-card"></i></a> 
    </div>
     <br/>
    <!-- import the webpage's client-side javascript file -->
  <script src="/client.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
  </body>
 

  <!-- Google sign in-->
  <!--
  <div>
    <center><div class="g-signin2" data-onsuccess="onSignIn()"></div></center>
    <div class="data"><p>Profile Details</p>
         <img id="pic" class="img-circle" width="100" height="100"/>
         <p>Email Address</p>
           <p id="email" class="alert alert-danger">
         <a href="#" onclick="signOut();">Sign out</a>
        </p>
      </div>
  </div>
  -->
  
  
<!-- Google sign in-->
  <center><div id="datapad" class="container-fluid bg-dark col-lg-2"><br/>
    <h1 class="text-light" style="text-align: center; text-decoration: underline">
          <strong>Sign-In Page</strong>
      </h1>
  <div class="g-signin2" data-onsuccess="onSignIn" data-height="50" data-width="220" data-longtitle="true" data-theme="dark"></div><br/>
    
    
    <div class="data text-light"><p><strong>Profile Details</strong></p>
         <img id="pic" class="img-circle" width="100" height="100"/>
         <strong><p>Name</p></strong>
           <p id="name"></p>
         <strong><p>Email Address</p></strong>
           <p id="email"></p>
         
      </div>
      <form action="/form-maker.html">
          <button class="btn bg-success" id="mkv" style="color: white"><strong>Make Poll</strong></button><br/>
        <textarea id="user" name="user" style="display: none"></textarea>
      </form>
    
    
      <button onclick="signOut();" class="btn bg-danger" id="SO" style="color: white"><strong>Sign out</strong></button><br/>
    </div></center>
  
  
<script>
  function signOut() {
   var auth2 = gapi.auth2.getAuthInstance();
      console.log(gapi.auth2.getAuthInstance().isSignedIn.get());
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
      alert("You have been successfully signed out");
      $(".g-signin2").css("display", "block");
      $("#SO").css("display", "none");
      $("#mkv").css("display", "none");
      $(".data").css("display", "none");
      
  }
  //onclick="redir();"
  function redir(){
    document.location.href = 'https://voting-app.glitch.me/form-maker.html';
  }

</script>
<!-- 
  <footer style="color: white">
  <h4 style="position: absolute; bottom: 5px; right: 5px; font-size: 20px;">
    Made by @Novuw
    </h4>
   
  </footer>
 -->
</html>
