/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}
body {margin:0;}

.icon-bar {
    width: 100%;
    background-color: #000000;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}
input:focus {
    outline: none;
}
#searchButton, #searchQuery, #reloader input{
    display: inline;
}
input[id="searchQuery"] {
    padding: 12px 20px 12px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 115px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
}
input[id="searchQuery"]:focus {
    width: 20%;
    outline: none;
}
#searchButton{
    background-color: white;
    border: 2px solid #ccc;
}

.data{
  display: none;
}

#SO:hover{
  cursor: pointer;
}
#SO,#mkv{
  display: none;
}
h1{
  font-family: Montserrat;
}